<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    aaabbb
    <ul>
      <% arr.forEach(item=>{ -%>
        <li><%= item %></li>
      <% }) %>
    </ul>
  </body>
</html>
