<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%- include('./components/header.ejs') %>

    <table border="1" width="100%">
      <thead>
        <tr>
          <th width="200">ID</th>
          <th>用户名</th>
        </tr>
      </thead>
      <tbody>
        <% arr.forEach((json,index)=>{ -%>
          <% if(index==arr.length-1){ %>
          <tr class="last">
          <% }else{ %>
          <tr>
          <% } %>
            <td><%=json.ID-%></td>
            <td><%=json.username-%></td>
          </tr>
        <% }) -%>
      </tbody>
    </table>
    <%-foot%>
  </body>
</html>
