doctype
html
  head
    title 搜狐
    meta(charset="utf-8")
    meta(name="Keywords",content="搜狐,门户网站,新媒体,网络媒体,新闻,财经,体育,娱乐,时尚,汽车,房产,科技,图片,论坛,微博,博客,视频,电影,电视剧")
    script(type="text/javascript").
      //解決IE8,IE9不支持console的问题
      (function() {
        var method;
        var noop = function() {};
        var methods = [
            'assert', 'clear', 'count', 'debug', 'dir', 'dirxml', 'error',
            'exception', 'group', 'groupCollapsed', 'groupEnd', 'info', 'log',
            'markTimeline', 'profile', 'profileEnd', 'table', 'time', 'timeEnd',
            'timeStamp', 'trace', 'warn'
        ];
        var length = methods.length;
        var console = (window.console = window.console || {});

        while (length--) {
            method = methods[length];

            // Only stub undefined methods.
            if (!console[method]) {
                console[method] = noop;
            }
        }
      }());
    link#stylemend(type="text/css",rel="stylesheet",href="")
  body
    div
      ul#ul1.box.aaa(title="adf")
        li(ng-repeat="a in arr") 内容
        li adf sddfwerw ertsdfsdfgsdf sdfgsdfgsdfg
        li= a+b
      ol
        - arr.forEach(item=>{
          li= item
        - })
      ol#ol2
        for item in arr
          li= item

    //[if lt IE 9]>.
      <script src="//statics.itc.cn/web/v3/static/js/es5-shim-08e41cfc3e.min.js"></script>
      <script src="//statics.itc.cn/web/v3/static/js/es5-sham-1d5fa1124b.min.js"></script>
      <script src="//statics.itc.cn/web/v3/static/js/html5shiv-21fc8c2ba6.js"></script>
      <link href="//statics.itc.cn/web/v3/static/css/ie8hack-9dce3c3b96.css" rel="stylesheet" />
      <![endif]
