<!-- 注意1：不应该使用箭头函数来定义计算属性函数 (例如 aDouble: () => this.a * 2)。
理由是箭头函数绑定了父级作用域的上下文，所以 this 将不会按照期望指向 Vue 实例，this.a 将是 undefined。 -->
<!-- 注意2：计算属性的结果会被缓存，除非依赖的响应式属性变化才会重新计算。注意，如果某个依赖 (比如非响应式属性) 在该实例范畴之外，则计算属性是不会被更新的。 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue.js"></script>
    <script>
    window.onload=function(){
        let vm =new Vue({
            el:"#div1",
            data:{
                a:0,
                b:0
            },
            computed:{
                num1:{
                    get(){
                        return this.a;
                    },
                    set(newVal){
                        let n = parseInt(newVal);
                        this.a = n;
                    }
                },
                num2: {
                    get() {
                        return this.b;
                    },
                    set(newVal) {
                        let n = parseInt(newVal);
                        this.b = n;
                    }
                }
            }
        })
    }
    </script>
</head>
<body>
    <div id="div1">
        <input type="text" v-model='num1'>
        <input type="text" v-model='num2'>
        {{num1+num2}}
    </div>
</body>
</html>