<!DOCTYPE html>
<html ng-app="aaa">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="angular.js" charset="utf-8"></script>
    <script>
    let mod=angular.module('aaa', []);

    mod.controller('ctrl1', function ($scope, $timeout, $interval){
      $scope.a=12;
      $scope.show=function (){
        //$scope.a=5;

        /*setTimeout(function (){
          $scope.a=5;

          $scope.$apply();    //应用
        }, 100);*/
        /*$timeout(function (){
          $scope.a=5;
        }, 100);*/

        /*setInterval(function (){
          $scope.a++;
          $scope.$apply();
        }, 100);*/
        $interval(function (){
          $scope.a++;
        }, 100);
      };
    });
    </script>
  </head>
  <body>
    <div ng-controller="ctrl1">
      <input type="text" name="" value="" ng-model="a">
      <div class="">{{a}}</div>
      <input type="button" name="" value="按钮" ng-click="show()">
    </div>
  </body>
</html>
