<!DOCTYPE html>
<html ng-app="aaa">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="angular.js" charset="utf-8"></script>
    <script>
    let mod=angular.module('aaa', []);

    mod.controller('ctrl1', function ($scope, $timeout, $interval, $http, $q){
      $scope.score=100;
    });
    </script>
  </head>
  <body>
    <div ng-controller="ctrl1">
      <div ng-if="score<60">不及格</div>
      <div ng-if="score>=60 && score<100">及格</div>
      <div ng-if="score==100">满分</div>
    </div>
  </body>
</html>
